[submodule "felnand"]
	path = felnand
	url = git@github.com:dgiese/dustbuilder-features-felnand.git


[submodule "felroot"]
        path = felroot
        url = git@github.com:dgiese/felroot.git

[submodule "vacuumstreamer"]
	path = vacuumstreamer
	url = git@github.com:tihmstar/vacuumstreamer.git
